@import "./icons.css";
@import "./header.css";
@import "./link.css";
@import "./button.css";
@import "./hero.css";
@import "./wrapper.css";
@import "./projects.css";
@import "./companies.css";
@import "./contact.css";
@import "./footer.css";

:root {
  scroll-behavior: smooth;
  --baseFont: "Arvo", serif;
  --primary: #5928e5;
  --white: #fffffe;
  --grey: #94a1b2;
  --secondary: #72757e;
  --tertiary: #2cb67d;
  --background-1: #16161a;
  --background-2: #242629;
  --button-background: #7f5af0;
  --headline1: 700 4.5rem/5rem var(--baseFont);
  --headline2: 700 4rem/4.75rem var(--baseFont);
  --headline3: 700 2rem/2rem var(--baseFont);
  --headline4: 700 1.5rem/1.649999976158142rem var(--baseFont);
  --button: 400 1.125rem/1.6875rem var(--baseFont);
  --caption: 400 0.75rem/1.6875rem var(--baseFont);
  --headline5: 700 1.25rem/1.649999976158142rem var(--baseFont);
  --body1-regular: 400 1.125rem/1.6875rem var(--baseFont);
  --body1-bold: 700 1.125rem/1.6875rem var(--baseFont);
  --body2-regular: 400 0.875rem/1.6875rem var(--baseFont);
  --body2-bold: 700 0.875rem/1.6875rem var(--baseFont);
}

body {
  font-family: var(--baseFont);
  margin: 0;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background: var(--background-1);
}

@media screen and (min-width: 768px) {
  body {
    padding-inline-start: 5.5625rem;
    padding-inline-end: 5.5625rem;
  }
}
